In [19]:
# 3 July 2024 update
# Non-linear model: polynomial (cubic) regression for S shape

# Import libraries, packages, functions, tools

# %matplotlib widget
# import numpy as np
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LogisticRegression
# from sklearn.svm import SVC 
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [21]:
# Load the dataset 1 (1896-2012)

file_1_path = r"C:\Users\des9231\Desktop\boot_camp_assignment\M16_17_Project2\Summer-Olympics-2024-Predictive-Model\resource\summer_1.csv"
## df_1 = pd.read_csv(file_path)
## df_1.info()

# 30 june 2024 Use another dataset shared by Sebas (get around concate issue for adding 2016/2024 data) 

# Load the dataset 1 (1896-2020)

# file_path = r"C:\Users\des9231\Desktop\boot_camp_assignment\M16_17_Project2\Summer-Olympics-2024-Predictive-Model\Resources\Summer_olympic_Medals.csv"
df = pd.read_csv(file_1_path)
# See 1) if the amount of records larger than 500; 2)amount od NaN; 3)dtypes; 4)columns) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [23]:
# See dataset structure
df.head(20)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
15,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110M Hurdles,Gold
16,1896,Athens,Athletics,Athletics,"GOULDING, Grantley",GBR,Men,110M Hurdles,Silver
17,1896,Athens,Athletics,Athletics,"LERMUSIAUX, Albin",FRA,Men,1500M,Bronze
18,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500M,Gold
19,1896,Athens,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500M,Silver

In [25]:
df.tail(20)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31145,2012,London,Wrestling,Wrestling Freestyle,"NOROOZI, Omid Haji",IRI,Men,Wg 60 KG,Gold
31146,2012,London,Wrestling,Wrestling Freestyle,"LASHKHI, Revaz",GEO,Men,Wg 60 KG,Silver
31147,2012,London,Wrestling,Wrestling Freestyle,"KURAMAGOMEDOV, Zaur",RUS,Men,Wg 60 KG,Bronze
31148,2012,London,Wrestling,Wrestling Freestyle,"MATSUMOTO, Ryutaro",JPN,Men,Wg 60 KG,Bronze
31149,2012,London,Wrestling,Wrestling Freestyle,"KIM, Hyeonwoo",KOR,Men,Wg 66 KG,Gold
31150,2012,London,Wrestling,Wrestling Freestyle,"LORINCZ, Tamas",HUN,Men,Wg 66 KG,Silver
31151,2012,London,Wrestling,Wrestling Freestyle,"GUENOT, Steeve",FRA,Men,Wg 66 KG,Bronze
31152,2012,London,Wrestling,Wrestling Freestyle,"TSKHADAIA, Manuchar",GEO,Men,Wg 66 KG,Bronze
31153,2012,London,Wrestling,Wrestling Freestyle,"VLASOV, Roman",RUS,Men,Wg 74 KG,Gold
31154,2012,London,Wrestling,Wrestling Freestyle,"JULFALAKYAN, Arsen",ARM,Men,Wg 74 KG,Silver
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [29]:
# Filter data to keep "Year', 'Country", 'Medal" only

df_filtered = df[['Year', 'Country', 'Medal']]
df_filtered

       Year Country   Medal
0      1896     HUN    Gold
1      1896     AUT  Silver
2      1896     GRE  Bronze
3      1896     GRE    Gold
4      1896     GRE  Silver
...     ...     ...     ...
31160  2012     POL  Bronze
31161  2012     IRI    Gold
31162  2012     RUS  Silver
31163  2012     ARM  Bronze
31164  2012     SWE  Bronze

[31165 rows x 3 columns]

In [65]:
# filter for 'Gold', 'Silver', 'Bronze'

# df_filtered = df_filtered[df_filtered['Medal'].isin(['Gold', 'Silver', 'Bronze'])]
# df_filtered

#Group and Pivot data to countmedal occurences by year and country

grouped = df_filtered.groupby(['Year', 'Country', 'Medal']).size().reset_index(name = 'Medal_Count')
grouped

      Year Country   Medal  Medal_Count
0     1896     AUS    Gold            2
1     1896     AUT  Bronze            2
2     1896     AUT    Gold            2
3     1896     AUT  Silver            1
4     1896     DEN  Bronze            3
...    ...     ...     ...          ...
2542  2012     USA    Gold          147
2543  2012     USA  Silver           57
2544  2012     UZB  Bronze            2
2545  2012     UZB    Gold            1
2546  2012     VEN    Gold            1

[2547 rows x 4 columns]

In [67]:
# Set 'Gold', 'Silver', 'Bronze' as column

# pivot_table = grouped.pivot_table(index=['Year', 'Country'], columns='Medal', values='Medal_Count', fill_value=0).reset_index()
pivot_table = grouped.pivot_table(index=['Year', 'Country'], columns='Medal', values='Medal_Count', fill_value=0)
pivot_table

Medal         Bronze   Gold  Silver
Year Country
1896 AUS         0.0    2.0     0.0
     AUT         2.0    2.0     1.0
     DEN         3.0    1.0     2.0
     FRA         2.0    5.0     4.0
     GBR         2.0    2.0     3.0
...              ...    ...     ...
2012 UGA         0.0    1.0     0.0
     UKR        12.0    9.0     4.0
     USA        46.0  147.0    57.0
     UZB         2.0    1.0     0.0
     VEN         0.0    1.0     0.0

[1157 rows x 3 columns]

In [71]:
# Rename columns for clarity

pivot_table = pivot_table.rename(columns={'Gold':'Gold_Count', 'Silver':'Silver_Count', 'Bronze':'Bronze_Count'})
pivot_table

Medal         Bronze_Count  Gold_Count  Silver_Count
Year Country
1896 AUS               0.0         2.0           0.0
     AUT               2.0         2.0           1.0
     DEN               3.0         1.0           2.0
     FRA               2.0         5.0           4.0
     GBR               2.0         2.0           3.0
...                    ...         ...           ...
2012 UGA               0.0         1.0           0.0
     UKR              12.0         9.0           4.0
     USA              46.0       147.0          57.0
     UZB               2.0         1.0           0.0
     VEN               0.0         1.0           0.0

[1157 rows x 3 columns]

In [143]:
# Filter for USA
# usa_df = pivot_table[#pivot_table['Country'] =='USA') &(pivot_table['Gold_Count']>0)]['Gold_Count']
usa_df = pivot_table[pivot_table['Country'] == 'USA']
# usa_df = pivot_table.loc['USA'] #[pivot_table['Country'] =='USA']

#usa_df = pivot_table.loc[pivot_table['Country']=='USA'].sort_values(by=['Year'])

# usa_df = medal_ct_country.loc[medal_ct_country['Country']=='USA'].sort_values(by=['Year'])
# usa_df.set_index('Year',inplace=True)
usa_df.head()

KeyError: 'Country'

In [97]:
# Drop the label to create the X data, assuming the "Athlete" are not important

# X = df.drop(columns=['Medal', '', 'Gender', 'Athlete', 'Discipline', 'Sport', 'City' ],  axis=1)
# X = df.drop(columns=['Bronze', 'Silver', 'Gold', 'Country_Code', 'Host_city'],  axis=1)
X.head(20)

NameError: name 'X' is not defined

In [ ]:
# 3 July 2024 update
# Non-linear model: polynomial (cubic) regression for S shape

# Step 1: Importing the libraries
# import numpy as np
# import matplotlib.pyplot as plt
# import pandas as pd
# Step 2: Importing the dataset

# (Step 3:) Training the Polynomial Regression model on the whole dataset


from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly_reg = PolynomialFeatures(degree = 4)
X_poly = poly_reg.fit_transform(X)
# lin_reg = LinearRegression()
# lin_reg.fit(X_poly, y)

Step 4: Predicting the Results
y_pred = lin_reg.predict(X_poly)
Step 5: Comparing the Real Values with Predicted 
Values
df = pd.DataFrame({'Real Values':y, 'Predicted Values':y_pred})
df
Step 6: Visualising the Polynomial Regression results
X_grid = np.arange(min(X), max(X), 0.1)
X_grid = X_grid.reshape((len(X_grid), 1))
plt.scatter(X, y, color = 'red')
plt.scatter(X, y_pred, color = 'green')
plt.plot(X_grid, lin_reg.predict(poly_reg.fit_transform(X_grid)), color = 'black')
plt.title('Polynomial Regression')
plt.xlabel('Position level')
plt.ylabel('Salary')
plt.show()

In [12]:
# Create the y set from the "Medal" column

y = df['Gold']
y

0        2
1        2
2        5
3       11
4        6
        ..
1339     1
1340     1
1341     1
1342     1
1343     1
Name: Gold, Length: 1344, dtype: int64

## Preprocess the data

In [ ]:
# Split the data into training and testing sets using random_state=1

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Encode y data with Label Encoder. 

le = LabelEncoder()

y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.fit_transform(y_test)

In [ ]:
# Encode X data with Ordinal Encoder. 

#? X_train_encodered_discipl_event_gender = ohe.fit_transform(X_train['Discipline', 'Event', 'Gender']
#? X_test_encodered_discipl_event_gender = ohe.fit_transform(X_test['Discipline', 'Event', 'Gender']                                                      
#? oe = OrdinalEncoder()
#? X_train_encodered_country = oe.fit_transform(X_train['country']    
#? X_test_encodered_country = oe.fit_transform(X_test['country']

# encode_education = OrdinalEncoder(categories=[['primary', 'secondary', 'tertiary']], handle_unknown='use_encoded_value', unknown_value=-1)
# encode_education.fit(X_train_filled['education'].values.reshape(-1, 1))

oe = OrdinalEncoder()

X_train_encoded = oe.fit_transform(X_train)
X_test_encoded = oe.fit_transform(X_test)

X_train_encoded

In [ ]:
# Scale the X data by using StandardScaler()

scaler = StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train_encoded)
X_train_scaled

In [ ]:
# Transform the test dataset based on the fit from the training dataset

X_test_scaled = scaler.transform(X_test_encoded)
X_test_scaled

In [ ]:
# Scale y data

y_train_scaled = scaler.transform(y_train_encoded)
y_test_scaled = scaler.transform(y_test_encoded)

y_train_scaled

## Model and Fit to a Logistic Regression Classifier

In [ ]:
# Create the logistic regression classifier model with a random_state of 1

lr_model = LogisticRegression()

# Fit the model to the training data

lr_model.fit(X_train_scaled, y_train_scaled)

In [ ]:
# Validate the model by checking the model accuracy with model.score

print(f"Training Data Score: {lr_model.score(X_train_scaled, y_train_scaled)}")
print(f"Testing Data Score: {lr_model.score(X_test_scaled, y_test_scaled)}")

In [ ]:
# Overfitting, underfitting, or bias?

In [ ]:
# Variance tradeoff, or optimization?

In [ ]:
# Improve using hyperparameter tuning,  implement cross-validation techniques, Grid Search, and/or Randomized Search?

In [ ]:
# What are the common pitfalls using the Logistic Regression Classifier model?

## Model and Fit to a Support Vector Machine

In [ ]:
# Create the support vector machine classifier model with a 'rbf' kernel

svm_model = SVC(kernel='rbf')

# Fit the model to the training data

svm_model.fit(X_train_scaled, y_train_scaled)

In [ ]:
# Validate the model by checking the model accuracy with model.score
print(f"Training Data Score: {svm_model.score(X_train_scaled, y_train_scaled)}")
print(f"Testing Data Score: {svm_model.score(X_test_scaled, y_test_scaled)}")

## Model and Fit to a KNN Model

In [ ]:
# Loop k to find the best number of neighbors

import matplotlib.pyplot as plt
# Loop through different k values to find which has the highest accuracy.
# Note: We use only odd numbers because we don't want any ties.
train_scores = []
test_scores = []
for k in range(1, 20, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled, y_train_scaled)
    train_score = knn.score(X_train_scaled, y_train_scaled)
    test_score = knn.score(X_test_scaled, y_test_scaled)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")
    
# Plot the results
plt.plot(range(1, 20, 2), train_scores, marker='o', label="training scores")
plt.plot(range(1, 20, 2), test_scores, marker="x", label="testing scores")
plt.xlabel("k neighbors")
plt.ylabel("accuracy score")
plt.legend()
plt.show()

In [ ]:
# Create the KNN model with ? neighbors

knn_model = KNeighborsClassifier(n_neighbors=?)

# Fit the model to the training data

knn_model.fit(X_train_scaled, y_train_scaled)

In [ ]:
# Validate the model by checking the model accuracy with model.score

print(f"Training Data Score: {knn_model.score(X_train_scaled, y_train_scaled)}")
print(f"Testing Data Score: {knn_model.score(X_test_scaled, y_test_scaled)}")

## Model and Fit to a Decision Tree Classifier

In [ ]:
# Create the decision tree classifier model

dt_model = DecisionTreeClassifier()

# Fit the model to the training data

dt_model.fit(X_train_scaled, y_train_scaled)

In [ ]:
# Validate the model by checking the model accuracy with model.score

print(f"Training Data Score: {dt_model.score(X_train_scaled, y_train_scaled)}")
print(f"Testing Data Score: {dt_model.score(X_test_scaled, y_test_scaled)}")

## Model and Fit to a Random Forest Classifier

In [ ]:
# Create the random forest classifier model
# with n_estimators=128 and random_state=1

rf_model = RandomForestClassifier(n_estimators=128, random_state=1)

# Fit the model to the training data

rf_model.fit(X_train_scaled, y_train_scaled)

In [ ]:
# Validate the model by checking the model accuracy with model.score

print(f"Training Data Score: {rf_model.score(X_train_scaled, y_train_scaled)}")
print(f"Testing Data Score: {rf_model.score(X_test_scaled, y_test_scaled)}")

In [ ]:
# Which model has the highest accuracy, lrc, svm, knn, dtc, or rfc?

In [ ]:
####### Using confusion matrix to further evaluate the most accurate model 

from sklearn.metrics import confusion_matrix, classification_report, balanced_accuracy_score, roc_auc_score

# Create a confusion matrix
print(confusion_matrix(y, predictions, labels = [1,0]))

# Create a classification report
print(classification_report(y, predictions, labels = [1, 0]))

# Calculate the balanced accuracy score
print(balanced_accuracy_score(y, predictions))

# Predict values with probabilities
pred_probas = classifier.predict_proba(X)

# Print the probabilities
pred_probas

# Each prediction includes a prediction for both the 0 class and the 1 class
# We only need the predictions for the 1 class; use a list comprehension to 
# gather the second value from each list

pred_probas_firsts = [prob[1] for prob in pred_probas]

# Print the first 5 probabilities
pred_probas_firsts[0:5]

# Calculate the roc_auc_score
print(roc_auc_score(y, pred_probas_firsts))

In [ ]:
# Visualizing with confusion matrix, pie chart and Histogram

In [ ]:
# Next Steps 
# 1) Refine the model by concatenating with other dataset(s) such as: Country dataset with info on Wealthy level (Dollar Per 
# Capita), Location (Europe, North America, Asia, South America, Africa, ...), Population level (Large, Medium, Small), 
# Women participation rate, etc.
# 2) Optimize the model by assigning different weight for each column according to its correlation (impact) to y.
# 3) Using the same workframe but different dataset to build a model for Europe Cup 2024: Who will win the trophy?
# 4) Build any model by adding weights according to our own expereince. Comment the bias introduced by human beings.
# Are we able to fully eliminate bias?